* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #EEF9BF;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}
.fonte {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-top: 40px;
}
.grid-cartas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-top: 45px;
    margin-bottom: 150px;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
}
.card img {
    width: 100%;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.girar-frente {
    transform: rotateY(0deg);
}

.girar-tras {
    transform: rotateY(-180deg);
}


@media (max-width: 1200px) {
    .grid-cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 45px;
    margin-bottom: 150px;
    }
}

@media (max-width: 950px) {
    .grid-cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 45px;
    margin-bottom: 150px;
    }
}
@media (max-width: 768px) {
    .grid-cartas {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
        margin-top: 45px;
        margin-bottom: 150px;
    }
}